.example-radio-group {
    display: flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 0px;
    padding: 10px 0px 10px 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  }
  ::ng-deep .mat-radio-label {  
    align-items: stretch !important;
  }
  .badge{
    margin: 0px 12px
  }
  ::ng-deep .flexAb a {
    display: flex;
    justify-content: flex-end;
  }
  
  .row{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
